extends ../layouts/main.pug

block pageContent
    nav.nav.admin--nav
        a(class=(adminActivePath === '/add-product' ? 'active' : '') href="/admin/add-product", target="_self", rel="noopener noreferrer").nav__link Add Product
        a(class=(adminActivePath === '/all-products' ? 'active' : '') href="/admin/all-products", target="_self", rel="noopener noreferrer").nav__link All Products
    h2 Add new product
    form.form(action="/admin/product", method="POST")
        input.input.js-title-input(type="text", name="title", placeholder="Product name")
        input.input.js-price-input(type="number", name="price", placeholder="Product price")
        input.input.js-desc-input(type="text", name="description", placeholder="Product description")
        input.input.js-img-url-input(type="text", name="imageScr", placeholder="Product image url")
        button.button(type="submit") Add product
    if pendingProducts.length > 0
        .products__container.js-new-products-container
         each product in pendingProducts
          if product.title
            .product.product--pending(data-product-id=`${product.id}`)
               button.product__remove-from-list.js-remove-from-list(data-product-id=`${product.id}`) Remove
               h3.product__title #{product.title}
               a(href=`/product/${product.id}`, target="_self", rel="noopener noreferrer").product__image
                img(src="https://placehold.co/160x160", alt=`${product.title}`)
               p.product__price $ #{product.price}
               p.product__desc #{product.description}
               button.product__add-to-cart.js-add-to-cart(data-product-id=`${product.id}`) Add to cart
        button.add-products.js-add-products Add products to the shop
block pageScript
  script(src="/js/admin.js")